.main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  &.darkTheme {
    animation: dark-theme-background 1s both $animationCurve;

    .container {
      p, a, .wrapper:nth-of-type(1) svg g path {
        animation: dark-theme 1s both $animationCurve;
      }
      .wrapper:nth-of-type(2) {
        svg, g, path {
          animation: dark-theme-svg 1s both $animationCurve;
        }
      }
    }

  .phoneContents {
    animation: dark-theme-background 1s both $animationCurve;

    .typedText {
      animation-name: hide-text;
      animation-delay: .5s;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: both;
      animation-timing-function: $animationCurve;
    }
    .bigText.white {
      animation-name: reveal-text;
      animation-delay: .5s;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: both;
      animation-timing-function: $animationCurve;
      line-height: 11rem;
      font-size: 10rem;
    }
  }
}

}
