$animationDelay: 1s;
$reveal-duration: 500ms;
$animationCurve: cubic-bezier(0.895, 0.03, 0.685, 0.22);

@keyframes reveal-text {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes reveal-text-cascade {
  from{
    opacity: 0;
    top: 25px;
  }
  to{
    opacity: 1;
    top: 0;
  }
}

@keyframes hide-text {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@keyframes phone-placement {
  0%{
    transform: rotate(0deg);
    top: 0;
  }
  100%{
    transform: rotate(-90deg) scale(0.8);
    top: -200px;
    margin-bottom: -400px;
  }
}
@keyframes phone-placement-R {
  0%{
    transform: rotate(-90deg) scale(0.8);
    top: -200px;
    margin-bottom: -400px;
  }
  100%{
    transform: rotate(0deg);
    top: 0;
  }
}


@keyframes dark-theme-background {
  0%{
    background-color: white;
  }
  100%{
    background-color: black;
    color: white;
  }
}
@keyframes light-theme-background {
  0%{
    background-color: black;
    color: white;
  }
  100%{
    background-color: white;
    color: black;
  }
}



@keyframes dark-theme {
  0%{
    color: black;
    fill: black;
  }
  100%{
    color: white;
    fill: white;
  }
}
@keyframes light-theme {
  0%{
    color: white;
    fill: white;
  }
  100%{
    color: black;
    fill: black;
  }
}


@keyframes dark-theme-svg {
  0%{
    color: black;
    fill: black;
  }
  100%{
    color: white;
    fill: white;
    stroke: white;
  }
}
@keyframes light-theme-svg {
  0%{
    color: white;
    fill: white;
    stroke: white;
  }
  100%{
    color: black;
    fill: black;
    stroke: black;
  }
}
