.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  max-width: 120rem;
  padding: 2.4rem;

  svg {
    fill: black;
  }

  .imageWrapper {
    width: 88px;
    height: 140px;

    @media only screen and (min-width: 768px) {
      animation-name: reveal-text;
      animation-delay: $animationDelay;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: both;
      animation-timing-function: $animationCurve;
    }
  }

  .copyrightImage {
    width: 92px;
    height: 24px;
    &.mobile {
      display: block;
    }
    &.desktop {
      display: none;
    }
    @media only screen and (min-width: 768px) {
      &.mobile {
        display: none;
      }
      &.desktop {
        display: block;
      }
    }
  }

  .typedText {
    display: inline-block; // keeps left justified
    overflow: hidden;
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .05em;
    animation: typing 3.5s $animationDelay steps(40, end),
    blink-caret .75s step-end infinite;
  }

  h1, h2, p {
    margin: 0;
  }
  .email {
    font-weight: bold;
    a {
      color: black;
    }
  }

  .wrapper {
    margin: 1.5rem;

    @media only screen and (max-width:768px) {
      animation-name: reveal-text;
      animation-delay: $animationDelay;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: both;
      animation-timing-function: $animationCurve;
    }
    @media only screen and (min-width:768px) {
      &.phone{
        animation-name: reveal-text;
        animation-delay: $animationDelay;
        animation-iteration-count: 1;
        animation-duration: $reveal-duration;
        animation-fill-mode: both;
        animation-timing-function: $animationCurve;
      }
    }
  }

  .phone {
    display: none;
    @media only screen and (min-width: 768px) {
      display: block !important;
    }

    .phoneContents {
      width: 325px;
      height: 600px;
      position: absolute;
      margin: 12rem 5rem;
    }

    &.bigly {
      position: relative;
      animation: phone-placement 1s both cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &.ylgib{
      position: relative;
      animation: phone-placement-R 1s  both cubic-bezier(0.645, 0.045, 0.355, 1);
    }


  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    a {
      margin: 1rem;
      &:first-of-type {
        margin-left: 0;
      }
      height: 44px;
    }
    .button {
      height: 44px;
      width: 133px;
      border-radius: 4px;
      background-repeat: no-repeat;
      border: 1px solid white;

      &#appStore {
        background-image: url(../images/appstoreButton.png);
        @media only screen and (-moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-devicepixel-ratio: 1.5),
        only screen and (min-resolution: 1.5dppx) {
          background-image: url(../images/appstoreButton@2x.png);
        }
        background-size: contain;
      }
      &#github {
        background-image: url(../images/githubButton.png);
        @media only screen and (-moz-min-device-pixel-ratio: 1.5),
        only screen and (-o-min-device-pixel-ratio: 3/2),
        only screen and (-webkit-min-device-pixel-ratio: 1.5),
        only screen and (min-devicepixel-ratio: 1.5),
        only screen and (min-resolution: 1.5dppx) {
          background-image: url(../images/githubButton@2x.png);
        }
        background-size: contain;
      }
    }
    @media (max-width: 500px) {
      flex-direction: column;
      a {
        margin-left: 0;
        width: 100%;
      }
      .button {
        width: 100%;
        background-color: black;
        &#appStore {
          background-image: url(../images/appstoreButton-Mobile.png);
          @media only screen and (-moz-min-device-pixel-ratio: 1.5),
          only screen and (-o-min-device-pixel-ratio: 3/2),
          only screen and (-webkit-min-device-pixel-ratio: 1.5),
          only screen and (min-devicepixel-ratio: 1.5),
          only screen and (min-resolution: 1.5dppx) {
            background-image: url(../images/appstoreButton-Mobile@2x.png);
          }
          background-size: contain;
        }
        &#github {
          background-image: url(../images/githubButton-Mobile.png);
          @media only screen and (-moz-min-device-pixel-ratio: 1.5),
          only screen and (-o-min-device-pixel-ratio: 3/2),
          only screen and (-webkit-min-device-pixel-ratio: 1.5),
          only screen and (min-devicepixel-ratio: 1.5),
          only screen and (min-resolution: 1.5dppx) {
            background-image: url(../images/githubButton-Mobile@2x.png);
          }
          background-size: contain;
        }
      }

    }
  }

}

#modal {
  height: 100vh;
  width: 100vw;
  background-color: black;
  p {
    color: white;
    text-align: center;
  }

  display: none; //display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

}
