@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {
  .imageWrapper{
    position: relative;
    right: 30rem;
  }
  .container{
    align-items: center;
  }
  .cascade{
    opacity: 0;
    position: relative;
  }
  .wrapper{
    &:nth-of-type(3){
      display: none;
    }
    &:nth-of-type(4){
      display: none;
    }
    &:nth-of-type(5){
      animation-name: reveal-text-cascade;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: forwards;
      animation-timing-function: $animationCurve;
      animation-delay: 7500ms;
    }
    &:nth-of-type(6){
      animation-name: reveal-text-cascade;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: forwards;
      animation-timing-function: $animationCurve;
      animation-delay: 7600ms;
    }
    &:nth-of-type(7){
      animation-name: reveal-text-cascade;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: forwards;
      animation-timing-function: $animationCurve;
      animation-delay: 7700ms;
    }
    &:nth-of-type(8){
      animation-name: reveal-text-cascade;
      animation-iteration-count: 1;
      animation-duration: $reveal-duration;
      animation-fill-mode: forwards;
      animation-timing-function: $animationCurve;
      animation-delay: 7800ms;
    }
  }
}
@media only screen and (min-width:1024px) {
  .imageWrapper{
    position: relative;
    right: 45rem;
  }
}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}

